#menu {
    padding: 0px 0px 0px 10px;
}

#menu ul li {
    display: inline-block;
    margin: 3px 7px 3px 0px;
    background-color: #DDD;
    padding: 6px;
    border-radius: 6px;
}

#menu ul li a {
    text-decoration: none;
    color: #000;
}
