/* 
    Document   : finan
    Created on : May 20, 2010, 9:33:54 PM
    Author     : junior
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@font-face {
font-family: "playtime";
src: url(fonts/playtime.ttf);
}

body {
    background-color: #EEE;
    font-family: playtime;
}

.botoes_opcao {
    float: right;
}

#corpo {
    width: 800px;
    margin: 0px auto;
    background-color: #FFF;
}

#altura {
    height: 400px;
    float: right;
}

#nome_topo h1 {
    text-align: right;
    font-size: 18px;
    margin: 0px;
    padding: 0px 4px;
}

#menu {
    background-color: #FFF;
    color: #222;
    clear: both;
}

#conteudo {
    clear : both;
    padding: 0px 4px;
    padding-bottom: 4px;
}

h1 {
    font-size: 24px;
}

/* Página principal */
#lembretes {
    width: 500px;
    margin: 10px auto;   
}

#lembretes h1 {
    font-size: 50px;
    text-align: center;
}

.info_conta {
    width: 180px;
    border: 2px solid #333;
    text-align: center;
}

.info_conta h2, .info_conta h3 {
    margin: 0px;
    padding: 0px;
}

.info_conta h3 {
    background-color: #EEE;
}

.info_conta span {
    font-size: 40px;
}

#info_pagar {
    float: left;
}

#info_pagar h2 {
    background-color: #FFA0A0;
}

#info_receber {
    float: right;
}

#info_receber h2 {
    background-color: #A0FFA0;
}



.lista_contas {
    width: 100%;
    background-color: #DDD;
    border-collapse: collapse;
    cursor: default;
}

.lista_contas thead {
    background-color: #BBB;
    text-shadow: 0.08em 0.08em #EEE;
    color: #222;
}

.lista_contas tbody tr:hover {
    background-color: #EEE;
}

.verde {
    font-weight: bold;
    color: #090;
}

.vermelho {
    font-weight: bold;
    color: #900;
}

.coluna_valor, .coluna_acoes {
    text-align: right;
}

.coluna_data {
    text-align: center;
}

a.alterar {
    text-decoration: none;
    color: #000;
}

a.alterar:hover {
    color: #A8A800;
}

a.baixar {
    text-decoration: none;
    color: #000;
}

a.baixar:hover {
    color: #090;
}

/* opções para os forms */
form input[type=text] {
    width: 100%;
    border: 1px solid #BBB;
    font-size: 24px;
    color: #555;
    font-weight: bold;
    display: block;
}

form input.moeda {
    text-align: right;
}

label.error {
    color: #F55;
    font-weight: bold;
    font-size: 80%;
}

form label {
    color: #555;
    font-weight: bold;
    font-size: 85%;
}

form table {
    width: 100%;
}

.limpa {
    clear: both;
}

#rodape {
    font-size: 80%;
    text-align: center;
}