/* 
    Document   : finan
    Created on : May 20, 2010, 9:33:54 PM
    Author     : junior
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background-color: #EEE;
    font-family: serif;
}

.botoes_opcao {
    float: right;
}

#corpo {
    width: 800px;
    margin: 0px auto;
    background-color: #FFF;
}

#nome_topo h1 {
    text-align: right;
    font-size: 18px;
    margin: 0px;
    padding: 0px 4px;
}

#menu {
    background-color: #AAA;
    color: #222;
    text-shadow: 0.08em 0.08em #EEE;
    clear: both;
}

#conteudo {
    clear : both;
    padding: 0px 4px;
    padding-bottom: 4px;
}

h1 {
    font-size: 24px;
}

.lista_contas {
    width: 100%;
    background-color: #DDD;
    border-collapse: collapse;
    cursor: default;
}

.lista_contas thead {
    background-color: #BBB;
    text-shadow: 0.08em 0.08em #EEE;
    color: #222;
}

.lista_contas tbody tr:hover {
    background-color: #EEE;
}

.verde {
    font-weight: bold;
    color: #090;
}

.vermelho {
    font-weight: bold;
    color: #900;
}

.coluna_valor, .coluna_acoes {
    text-align: right;
}

.coluna_data {
    text-align: center;
}

a.alterar {
    text-decoration: none;
    color: #000;
}

a.alterar:hover {
    color: #A8A800;
}

a.baixar {
    text-decoration: none;
    color: #000;
}

a.baixar:hover {
    color: #090;
}

/* opções para os forms */
form input[type=text] {
    width: 100%;
    border: 1px solid #BBB;
    font-size: 24px;
    color: #555;
    font-weight: bold;
}

label.error {
    color: #F55;
    font-weight: bold;
}

form label {
    color: #555;
    font-weight: bold;
}

form table {
    width: 100%;
}

.limpa {
    clear: both;
}

#rodape {
    font-size: 80%;
    text-align: center;
}